@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Verse */
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}
/* End verse */

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

section[epub|type~="preface"]{
	margin-top: 20vh;
}

footer{
	margin-top: 1em;
	text-align: right;
}

#chapter-4 blockquote p{
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}

#chapter-4 blockquote b{
	font-size: larger;
	text-transform: uppercase;
}
