@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Inline verse */
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}
/* End inline verse */

/* Letters */
[epub|type~="z3998:letter"] footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* End letters */

section[epub|type~="preface"]{
	margin-top: 20vh;
    line-height: 1.5;
}

footer{
	margin-top: 1em;
	text-align: right;
}


#chapter-4 blockquote p{
		text-indent: 0;
		text-align: center;
}

#chapter-4 blockquote b{
	font-variant: all-small-caps;
	text-align: center;
	font-size: 1.5em;
}

